# Pandas

In [4]:
import pandas as pd

## Getting data

In [3]:
url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/most-common-name/new-top-firstNames.csv"
data = pd.read_csv(url, index_col=0)
data.head(10)

           name  newPerct2013
1       Michael      0.011577
2         James      0.010218
3          John      0.009675
4        Robert      0.009493
5         David      0.008943
6       William      0.007484
7          Mary      0.006839
8   Christopher      0.005901
9        Joseph      0.005410
10      Richard      0.005346

In [ ]:
##

In [ ]:
data[data['newPerct2013'] > .008]
data.query('newPerct2013 > .008')

In [ ]:
data['newPerct2013'].sum()